<div class='container' style='margin:20px auto'>
	<div class='panel'>
		<div class='panel-body'>
			<h1 style='text-align:center;margin-bottom:30px'>Contact InviteBIG</h1>
			<em>If you have a question specific to a venue, please contact the venue directly via the contact information provided on the venue's profile page</em><br><br>
			<!-- <a href="javascript:void(0);" onclick="olark('api.box.expand')">Click here to chat with InviteBIG!</a><br><br>
			Or, if you prefer, send us an email:<br><br> -->
			<form id='formContact' class='form-horizontal'>
				<input type='hidden' name='sig' value='1'>
				<div class='row'>
					<div class='col-md-10' id='paneContactLeft'>
						<div class='form-group'>
							<label class='col-md-3 control-label'>Your Email Address</label>
							<div class='col-md-9'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='glyphicon glyphicon-envelope'></i></span>
									<input type='text' class='form-control' id='contactEmail' placeholder='user@domain.com'>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-md-3 control-label'>Subject</label>
							<div class='col-md-9'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='glyphicon glyphicon-flag'></i></span>
									<input type='text' class='form-control' id='contactSubject' placeholder='Subject of email...'>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-md-3 control-label'>Message</label>
							<div class='col-md-9'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='glyphicon glyphicon-pencil'></i></span>
									<textarea class='form-control' style='width:100%;height:300px' id='contactMessage' placeholder='Message...'></textarea>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-md-3 control-label'></label>
							<div class='col-md-9'>
								<a href='#' class='btn btn-success btn-lg' id='contactSubmit'>Send Message</a>
							</div>
						</div>
					</div>
					<div class='col-md-2' id='paneContactRight'>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>	

<script>

	function ValidateContactForm()
	{
		$("#bodyContent div.alert").remove();
		$errString = "<div class='alert alert-danger'><b>Errors:</b><br><ul>";
		
		if ($("#contactEmail").val().length < 8 || $("#contactEmail").val().indexOf("@") < 0)
			$errString += "<li>Invalid email address</li>";
		
		if ($("#contactSubject").val().length < 3)
			$errString += "<li>Invalid subject</li>";
		
		if ($("#contactMessage").val().length < 3)
			$errString += "<li>Invalid message</li>";
		
		$errString += "</ul></div>";
		
		if ($errString.length > 70)
		{
			$("#formContact").before($errString);
			$("html, body").animate({ scrollTop: 0 });
			return false;
		}
		else return true;
    }

    $("#contactSubmit").on("click",function(event)
	{
		event.preventDefault();
		if (ValidateContactForm())
		{
			var params = {
				email: $("#contactEmail").val(),
				subject: $("#contactSubject").val(),
				message: $("#contactMessage").val()
			};
			
			var data = {
				method: 'fContact',
				email: $("#contactEmail").val(),
				subject: $("#contactSubject").val(),
				message: $("#contactMessage").val()
			};
			Post(data).then(function($data)
			{
				if ($data['result'] == "success") 
				{
					if (typeof heap !== "undefined")
					{
						heap.identify({
							email: $("#contactEmail").val()
						});
					}
					
					if (typeof BugSnag !== "undefined")
					{
						BugSnag.user = {
							email: $("#contactEmail").val()
						};
					}
					
					if (typeof __insp !== "undefined")
					{
						__insp.push(['identify', $("#contactEmail").val()]);
					}
					
					if (typeof window.__wtw_custom_user_data === "undefined")
						window.__wtw_custom_user_data = {};
					window.__wtw_custom_user_data.email = $("#contactEmail").val();
					
					var d = $("#formContact").parents("div.panel-body").first();
					d.empty().append("<h3 style='color:#51a351'>Message Sent!</h3><p>Your message has been sent to the InviteBIG support staff, we will respond as quickly as we can.  Thank you for contacting InviteBIG.</p>");
				} else 
				{
					$("#formContact").before("<div class='alert alert-danger'>" + $data['result'] + "</div>");
				}				
				
				$("html, body").animate({ scrollTop: 0 });
			});
        }
    });
	
</script>