
<div id='myCarousel' class='carousel slide' data-ride='carousel'>
  <div class='carousel-inner'>
    <div class='item active' style='min-height:650px;background:url("/assets/img/background.jpg") center top no-repeat;background-size:100% 100%'>
      <div class='container'>
        <div class="carousel-caption">
			<div class='row landing1'>
				<div class='col-sm-6'>
					<a class='landingEvents' data-partial=true href="/online-event-booking">
						Are you organizing an event?
						<div class='clearfix'></div>
					</a>
				</div>
				<div class='col-sm-6'>
					<a class='landingVenues' data-partial=true href="/venue-management-software">
						Do you manage a venue or space?
					</a>
				</div>
			</div>
			<div class='clearfix'></div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class='clearfix'></div>
<div class='container landing2'>
	<h1>Online Event Booking and Venue Management Software</h1>
	<h3>InviteBIG helps venues and event organizers collaborate to create the perfect event.  We provide a suite of tools which streamline every aspect of a venue's event management process.</h3>
	<div class='row'>
		<div class='col-md-6'>
			<div role='tabpanel' style='min-height:280px'>
				<ul class='nav nav-pills' role='tablist'>
					<li role='presentation' class='active'><a href='#about-our-software' aria-controls='about-our-software' role='tab' data-toggle='tab'>About Our Software</a></li>
					<li role='presentation' class=''><a href='#about-us' aria-controls='about-us' role='tab' data-toggle='tab'>About Us</a></li>
					<li role='presentation' class=''><a href='#about-our-venues' aria-controls='about-our-venues' role='tab' data-toggle='tab'>Our Venues</a></li>
				</ul>
				<div class='tab-content'>
					<div role='tabpanel' class='tab-pane active' id='about-our-software'>
						<div class='row'>
							<div class='col-xs-4'>
								<img src='/assets/img/venue-profile-information.png' alt='Find out what resources and services and pricing each venue has, any day, any time'/>
							</div>
							<div class='col-xs-8'>
								Using state-of-the-art technology packed with user-friendly features, our event software is designed to revolutionize the way events are planned, managed and executed. We believe that bringing event organizers and venue staff together to collaborate is the most effective way to produce smooth, successful events.
								<br><br>
								Our system offers event software and tools that are unique and perfect for today's mobile-minded market. If you are interested in learning more about how InviteBIG can assist you, please contact us or request a demo today.
							</div>
						</div>
					</div>
					<div role='tabpanel' class='tab-pane' id='about-us'>
						<div class='row'>
							<div class='col-xs-4'>
								<img src='/assets/img/logo.jpg' alt='InviteBIG Software'/>
							</div>
							<div class='col-xs-8'>
								Relaunched with a new look in 2014, InviteBIG was originally founded in 2011 with the goal of bringing organization and peace of mind to the often hectic lives of those who manage venues and organize events.
								<br><br>
								Our team has several years of experience in event planning and management along with software development. This background has provided us with an intimate understanding and connection with our customer and their needs. This ultimately motivates us to strive to provide the best event software applications possible.
							</div>
						</div>
					</div>
					<div role='tabpanel' class='tab-pane' id='about-our-venues'>
						<div class='row'>
							<div class='col-xs-1'></div>
							<div class='col-xs-11'>
								Our event software supports a wide range of venues and events:
								<ul style='margin-top:15px'>
									<li>Performing arts and festivals</li>
									<li>Galleries and museums</li>
									<li>Banquets and conference centers</li>
									<li>Fun & Amusement Centers</li>
									<li>Concert & Music Halls</li>
									<li>etc</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='callout'>
				<a href='https://invitebig.appointlet.com/' class='btn btn-md pull-right'>Request a Demo</a>
				Experience how InviteBIG can help make booking an event or managing a venue smooth and effortless
			</div>
		</div>
		<div class='col-md-6'>
			<div class='row'>
				<div class='col-xs-1 no-display-mob'>
					<i class='fa fa-calendar fa-3'></i>
				</div>
				<div class='col-md-5'>
					<h2>ONLINE EVENT BOOKING</h2>
					Once you begin booking online with InviteBIG, you'll wonder how you ever managed to organize events without it! Manage every step of your event, from booking to payment to event updates, all in one convenient place.
					<a data-partial=true href='/online-event-booking'>Explore our Software for Events &raquo;</a>
				</div>
				<div class='col-xs-1 no-display-mob'>
					<i class='fa fa-building fa-3'></i>
				</div>
				<div class='col-md-5'>
					<h2>VENUE MANAGEMENT SOFTWARE</h2>
					InviteBIG provides a suite of tools for venues to achieve a state of organized Zen. Manage complex scheduling, catering requests, booking requirements, online payments and more.
					<br><a data-partial=true href='/venue-management-software'>Explore our Software for Venues &raquo;</a>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-1'>
				</div>
				<div class='col-md-5'>
					<span class='iconIntegration'></span>
					<h2>INTEGRATIONS</h2>
					InviteBIG offers tools to integrate with Google Calendar and most websites to provide a seamless event booking experience throughout the web.
				</div>
				<div class='col-md-1'>
				</div>
				<div class='col-md-5'>
					<span class='iconSupport'></span>
					<h2>REAL-TIME SUPPORT</h2>
					Our reliable and friendly support team is available to answer any question as quickly as they come in.  We offer real-time chat to remove the barrier of waiting for a response.
				</div>
			</div>
		</div>
	</div>
	<div class='clearfix'></div>
</div>

<script>
	
	$(function() 
	{
		$(".landing2 ul.nav li").off("click").click(function(event)
		{
			event.preventDefault();
			$(this).parents("ul").first().find("li").removeClass("active");
			$("div.tab-pane").removeClass("active");
			$($(this).find("a").first().attr("href")).addClass("active");
			$(this).addClass("active");
		});
		
		$("#bodyContent").css({"background-color":"#FDFDFD"});
		
		if (localStorage.getItem("email"))
		{
			$("#divSignup").hide();
			$("#divSearch").show();
        }
    });
</script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "InviteBIG",
  //"url" : "",
  "url" : "/",
  "keywords" : "venue management software, event management software, online booking system, online booking, reservation system",
  "image" : "/assets/img/Invite_BIG_Final_Logo_01_sm.png"
}
</script>