<div id='myCarousel' class='carousel slide' data-ride='carousel'>
  <div class='carousel-inner'>
    <div class='item active' style='min-height:650px;background:url("/assets/img/event-venue-booking-online.jpg") center top no-repeat;background-size:100% 100%'>
      <div class='container'>
        <div class="carousel-caption">
			<h1 style='margin:20px auto 5px auto;text-shadow:0 0 20px rgba(0,0,0,0.4), 0 0 1px #000'>Online Event Booking Without the Hassle</h1>
			<h2 style='margin:5px auto 80px auto;text-shadow:0 0 20px rgba(0,0,0,0.4), 0 0 1px #000'>InviteBIG enables event organizers to create, organize and book events in real-time.</h2>
			<div id='divSignup'>
				<div class='signupshort'>
					<div class='btnWrap' style='width:380px'>
						<a data-partial=true href='/register' id='btnRegister' class='btn btn-lg btn-primary bold' style='width:320px'>CREATE AN ACCOUNT</a>
					</div>
				</div>
			</div>
			<div id='divSearch' class='text-center'>
				<div class='bookfilter text-center' style='padding:20px;display:inline-block'>
					<form class='form-inline' style='margin:0;color:#666;text-shadow:none' action='#'>
						I am looking for 
						<select id='bookFilterType' multiple style='width:250px'></select>
						 for 
						<select id='bookFilterPeople'>
							<option value='0'>Group Size</option>
							<option value='2'>2+ people</option>
							<option value='3'>3+ people</option>
							<option value='4'>4+ people</option>
							<option value='5'>5+ people</option>
							<option value='6'>6+ people</option>
							<option value='7'>7+ people</option>
							<option value='8'>8+ people</option>
							<option value='9'>9+ people</option>
							<option value='10'>10+ people</option>
							<option value='12'>12+ people</option>
							<option value='14'>14+ people</option>
							<option value='16'>16+ people</option>
							<option value='18'>18+ people</option>
							<option value='20'>20+ people</option>
							<option value='30'>30+ people</option>
							<option value='40'>40+ people</option>
							<option value='50'>50+ people</option>
							<option value='60'>60+ people</option>
							<option value='70'>70+ people</option>
							<option value='80'>80+ people</option>
							<option value='90'>90+ people</option>
							<option value='100'>100+ people</option>
							<option value='200'>200+ people</option>
							<option value='300'>300+ people</option>
							<option value='400'>400+ people</option>
							<option value='500'>500+ people</option>
						</select>
						<button id='bookFind' class='btn btn-primary' style='margin-left:5px'>Find</button>
					</form>
				</div>
			</div>
			<div class='clearfix'></div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class='clearfix'></div>
<div class="container marketing no-display-mob">
  <div class="row">
    <div class="col-md-3"><a data-partial=true href='/venues/all/bars-and-nightclubs'><img class="img-responsive" src="/assets/img/booking-nightclubs-online.jpg" alt="Booking Nightclub Online"></a>
      <h3><a data-partial=true href='/venues/all/bars-and-nightclubs'>Find Bars &amp; Nightclubs</a></h3>
      <p>These venues offer a fun, high-energy atmosphere that is great for booking birthday parties, bachelor/bachelorette festivities and girls/guys nights out!</p>
    </div>
    <div class="col-md-3"><a data-partial=true href='/venues/all/concert-and-music-halls'><img class="img-responsive" src="/assets/img/booking-concerts-online.jpg" alt="Booking Concerts Online"></a>
      <h3><a data-partial=true href='/venues/all/concert-and-music-halls'>Find Concert &amp; Music Halls</a></h3>
      <p>If you're looking to book a venue for a fundraiser, concert or show, these venues are ideal. Larger in size and staffed to accommodate the needs of bigger groups, they're perfect for events where live music is a factor.</p>
    </div>
    <div class="col-md-3"><a data-partial=true href='/venues/all/conference-and-meeting-rooms'><img class="img-responsive" src="/assets/img/booking-meeting-rooms-online.jpg" alt="Booking Meeting Rooms Online"></a>
      <h3><a data-partial=true href='/venues/all/conference-and-meeting-rooms'>Find Conference &amp; Meeting Rooms</a></h3>
      <p>If you are planning a conference, wedding or any corporate event, booking a Conference Centers or Meeting Rooms online is the way to go.</p>
    </div>
  	<div class="col-md-3"><a data-partial=true href='/venues/all/fun-and-amusement-centers'><img class="img-responsive" src="/assets/img/booking-amusement-centers-online.jpg" alt="Booking Amusement Centers Online"></a>
      <h3><a data-partial=true href='/venues/all/fun-and-amusement-centers'>Find Fun &amp; Amusement Centers</a></h3>
      <p>Organizing a children's party or just a lighthearted event for a group of friends? These bowling alleys, arcades and family fun centers are great options for making sure everyone in attendance has a fantastic time.</p>
    </div>
  </div>
</div>

<div class='landing-event-featurettes'>
	<div class="featurette" style="background:none;">
		<div class="container">
			<img src="/assets/img/discover-new-venues.jpg" alt="Search InviteBIG to find new venues to host your events">
			<div class='spacer'></div>
			<h2>Discover New Venues</h2>
			<p>The perfect event space is just a few clicks away. Our searchable venue directory can be sorted by location, amenities and availability, helping you uncover the ideal site for your event. Not sure what you need just yet? No problem. Browse the directory and explore every option before settling on what's right for you.</p>
			<div class='clearfix'></div>
		</div>
	</div>
	<div class="featurette">
		<div class="container">
			<h2>Book Spaces &amp; Amenities Instantly</h2>
			<p>At InviteBIG, we understand that online event booking is a complex and time-consuming process. Accessible 24 hours a day, 7 days a week, our efficient online software will guide you through your booking step by step. You'll be able to select resources and event space, pick addons and menu items, plus manage payments, all in one convenient online platform.</p>
			<div class='spacer'></div>
			<img src="/assets/img/venue-profile-information.png" alt="Find out what resources and services and pricing each venue has, any day, any time">
			<div class='clearfix'></div>
		</div>
	</div>
	<div class="featurette" style="background:none;">
		<div class="container">
			<img src="/assets/img/event-scheduling-software.png" alt="Event scheduling software helps you easily create and manage your reservations">
			<div class='spacer'></div>
			<h2>Manage Your Bookings</h2>
			<p>With an efficient, user-friendly layout, our dashboard allows you to keep track of your bookings, communicate directly with venues and monitor updates as they occur.</p>
			<div class='clearfix'></div>
		</div>
	</div>
	<div class="featurette" style="padding-bottom:0">
		<div class="container">
			<h2>Take Your Bookings Wherever You Go</h2>
			<p style='margin-bottom:30px'>Compatible with most portable devices, our website ensures you'll be able to access the details of your bookings from virtually anywhere. We even offer email notifications that keep you up to date on all of your scheduled events.</p>
			<div class='spacer'></div>
			<img style='max-width:300px' src="/assets/img/invitebig-mobile-phone-app.png" alt="Access InviteBIG from your cell phone or any mobile device">
			<div class='clearfix'></div>
		</div>
	</div>
	<div class="featurette display-650" style='width:100%;height:40px;padding:1px'></div>
</div>
<script>
	$(function() 
	{
		$("#bodyContent").css({"background-color":"#FDFDFD"});
		$(".carousel").carousel({pause:true,interval:false});
		$("#bookFilterPeople").SumoSelect();
	
		if (localStorage.getItem("email"))
		{
			$("#divSignup").hide();
			$("#divSearch").show();
			var data = {method:'fGetSearchTypes'};
			Post(data).then(function($data)
			{
				for (var i=0; i<$data['result'].length; i++)
				{
					$("#bookFilterType").append($("<option></option>",{value:$data['result'][i],text:$data['result'][i]}));
                }
				
                if (typeof $("#bookFilterType")[0].sumo !== "undefined")
					$("#bookFilterType")[0].sumo.reload();
				else $("#bookFilterType").SumoSelect({okCancelInMulti: true, selectAll: true});
			});
			
			$("#bookFind").click(function(event)
			{
				event.preventDefault();
				
				var filter = "types=" + JSON.stringify($("#bookFilterType").val()) + "&size=" + $("#bookFilterPeople option:selected").val();
				var url = "/venues" + "?" + filter;
				window.location = url;
			});
        }
	});
</script>