<div id='regSuccess' class='container panel' style='margin:20px auto'>
	<div class='panel-body'>
		<h3 style='color:#51a351'>Registration Successful!</h3>
		<p>
			Your InviteBIG account has been created and you have been logged in.  You may now <a data-partial=true href='/dashboard'>see your dashboard</a> or <a data-partial=true href='/venues'>find venues</a>.
		</p>
		<br><br>
		<h4>Are you a venue?</h4>
		<p>If you would like to create a venue profile and use InviteBIG to help your business then <a href='https://invitebig.appointlet.com/'>Request a Demo</a> and let us know that you'd like to get started with InviteBIG!</p>
	</div>
</div>

<script>
</script>