 <div class='container' style='margin:20px auto'>
	<div class='panel'>
		<div class='panel-body'>
			<h3 style='color:#51a351'>Message Sent!</h3><p>Your message has been sent to the InviteBIG support staff, we will respond as quickly as we can.  Thank you for contacting InviteBIG.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
var capterra_vkey = '4930ff8822cc8b0811e8d3bbd21ec980',
capterra_vid = '2100010',
capterra_prefix = (('https:' == document.location.protocol) ? 'https://ct.capterra.com' : 'http://ct.capterra.com');

(function() {
var ct = document.createElement('script'); ct.type = 'text/javascript'; ct.async = true;
ct.src = capterra_prefix + '/capterra_tracker.js?vid=' + capterra_vid + '&vkey=' + capterra_vkey;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ct, s);
})();
</script>