<input type='hidden' id='bookShortUrl' value=''>
<input type='hidden' id='bookvenueid' value=''>
<input type='hidden' id='bookFunctionality' value=''>
<input type='hidden' id='bookContract' value=''>

<div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 container bookHeader" style="background-size: 100% auto; background-repeat: no-repeat; height: 500px;display:block !important">
		<!-- <div class='bookInfo'>
		dsmdsmddms -->
			<!-- <a data-partial=true class='bookTitle' id='bookTitle'></a>
			<a data-partial=true class='bookAddress' id='bookAddress'></a>
			<input type='hidden' id='bookTimezone'>
			<input type='hidden' id='venueCurrency'> -->
		<!-- </div> -->
	</div>
</div>

<div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<div class='bookHeading'></div>
	</div>
</div>
<div>
	<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
		<div id='reservationContainer'></div>
	</div>
</div>
<!-- <div class='' >
	<div class=''>
		
	</div>
</div>
 -->



<script src="/inc/js/invitebig-misc.js?_=1455331660" type="text/javascript"></script>
<script src="/inc/js/invitebig-booking.js?_=1455331660" type="text/javascript"></script>
<script src="/inc/js/invitebig-reserve.js?_=1455331660" type="text/javascript"></script>

<script>
	RouteReservationRequest();
</script>