<div id='myCarousel' class='carousel slide' data-ride='carousel'>
  <div class='carousel-inner'>
    <div class='item active' style='min-height:650px;background:url("/assets/img/bowling-alley-marquee.jpg") center top no-repeat;background-size:100% 100%'>
      <div class='container'>
        <div class="carousel-caption">
			<h1 style='margin:20px auto 5px auto;text-shadow:0 0 50px #000,0 0 50px #000,0 0 3px #000'>Event and Venue Management Software</h1>
			<h2 style='margin:5px auto 80px auto;text-shadow:0 0 50px #000,0 0 50px #000,0 0 3px #000'>Harness the power of our online event and venue management system and do away with tedious, unnecessary work.</h2>
			<div id='divSignup'>
				<div class='signupshort'>
					<a href='https://invitebig.appointlet.com/' target='_blank' class='btn btn-lg btn-primary bold' style='margin:30px'>REQUEST A DEMO</a>
					<a data-partial=true href='/register/venue' class='btn btn-lg btn-primary bold'>START FREE TRIAL</a>
				</div>
			</div>
			<div id='divSearch' class='text-center' style='display:hidden'>
				<div class='bookfilter text-center' style='padding:20px;display:inline-block'>
					<form class='form-inline' style='margin:0;color:#666;text-shadow:none' action='#'>
						I am looking for 
						<select id='bookFilterType' multiple></select>
						 for 
						<select id='bookFilterPeople'>
							<option value='0'>Group Size</option>
							<option value='2'>2+ people</option>
							<option value='3'>3+ people</option>
							<option value='4'>4+ people</option>
							<option value='5'>5+ people</option>
							<option value='6'>6+ people</option>
							<option value='7'>7+ people</option>
							<option value='8'>8+ people</option>
							<option value='9'>9+ people</option>
							<option value='10'>10+ people</option>
							<option value='12'>12+ people</option>
							<option value='14'>14+ people</option>
							<option value='16'>16+ people</option>
							<option value='18'>18+ people</option>
							<option value='20'>20+ people</option>
							<option value='30'>30+ people</option>
							<option value='40'>40+ people</option>
							<option value='50'>50+ people</option>
							<option value='60'>60+ people</option>
							<option value='70'>70+ people</option>
							<option value='80'>80+ people</option>
							<option value='90'>90+ people</option>
							<option value='100'>100+ people</option>
							<option value='200'>200+ people</option>
							<option value='300'>300+ people</option>
							<option value='400'>400+ people</option>
							<option value='500'>500+ people</option>
						</select>
						<button id='bookFind' class='btn btn-primary' style='margin-left:5px'>Find</button>
					</form>
				</div>
			</div>
			<div class='clearfix'></div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class='container'>
	
</div>
<!-- <div class="container marketing">
	<div class="row" style='margin-bottom:20px'>
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-nightclubs-online.jpg" alt="Booking Nightclub Online">
			<h3>Bars &amp; Nightclubs</h3>
			<p>Whether a Billiards Lounge, Bowling Alley, Arcade or Amusement Center manage all your bookings in one place.</p>
			<ul>
				<li>Bowling Lanes</li>
				<li>Pool Tables</li>
				<li>Event Spaces</li>
				<li>Private Rooms</li>
				<li>Catering</li>
				<li>Equipment Rentals</li>
				<li>Staff Hiring</li>
			</ul>
		</div>
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-concerts-online.jpg" alt="Booking Concerts Online">
			<h3>Arts &amp; Theaters</h3>
			<p>Any live event or art space, ranging from  studios and galleries to live event spaces and cinemas, can use our solution to manage them all.</p>
		</div>
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-meeting-rooms-online.jpg" alt="Booking Meeting Rooms Online">
			<h3>Conference &amp; Meeting Rooms</h3>
			<p>We work with  Restaurants, Hotels,  Convention Centers, and other event space that rely, year-round on renting out their facilities.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-nightclubs-online.jpg" alt="Booking Nightclub Online">
			<h3>Sports &amp; Recreation Areas</h3>
			<p>Every sporting event needs a place to play. Schedule teams and games at your facility.</p>
		</div>
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-concerts-online.jpg" alt="Booking Concerts Online">
			<h3>Restaurants, Bars, and Clubs</h3>
			<p>Every private group dining and party experience will require a unique event package and negotiation.</p>
		</div>
		<div class="col-md-4"> <img class="img-responsive" src="/assets/img/booking-meeting-rooms-online.jpg" alt="Booking Meeting Rooms Online">
			<h3>Unique Spaces</h3>
			<p>Large spaces dedicated to serving large events.</p>
		</div>
	</div>
</div>
-->
<div class='landing-venue-featurettes'>
	<div class="featurette">  
		<div class="container">  
			<h3 style='margin-top:0'>Tools for every aspect of your business</h3>
			<p>The keys to a successful venue are organization and the ability to keep calm under even the most hectic of circumstances. Designed to streamline every step of the event and venue planning process for both your staff and your clientele, InviteBIG's venue management software provides a suite of tools your venue needs to achieve a state of organized Zen.</p>
			<div class='spacer'></div>
			<video controls poster='/assets/img/InviteBIG_Full2-preview.jpg'><source src='/assets/img/InviteBIG_Full2.mp4' type='video/mp4' alt='Learn about what InviteBIG can do for you and your venue'>An HTML5 capable browser is required to view this video</video>
		</div>
	</div>
	<div class="featurette" style="background:none;">  
		<div class="container">  
			<img src="/assets/img/online-event-booking-software.png" alt="Online Event Booking Software - easy to use scheduling and payment processing">
			<div class='spacer'></div>
			<h3>Maximize your Assets & Get Paid on Time</h3>
			<h2>Online Venue & Event Booking Software and Calendar</h2>
			<p>Where other systems fail to handle the nuances of managing a venue's calendar, our online event booking software is equipped to deal with complex scheduling, resource management, catering requests, booking requirements, online payments and more. You'll be amazed at how quickly our streamlined process maximizes your profitability and frees up your staff's time to focus on your customers.<br><a href='https://invitebig.appointlet.com/'>&raquo; Demo our Event and Venue Booking Software and Calendar</a></p>
		</div>
	</div>
	<div class="featurette">  
		<div class="container">  
			<h3>Boost Sales & Generate More Leads</h3>
			<h2>Built-in Venue Sales and Promotion Tools</h2>
			<p>Engage a larger audience and turn inquiries into bookings with the creative features of our sales management tools. Our searchable venue directory and dedicated venue profiles will bring your space to potential clients in an innovative, convenient way.<br><a href='https://invitebig.appointlet.com/'>&raquo; Demo our Venue Sales and Promotion Tools</a></p>
			<div class='spacer'></div>
			<img src="/assets/img/venue-sale-promotion-tools.png" alt="Venue Sales & Promotion Tools to help you generate more leads">
		</div>
	</div>
	<div class="featurette" style="background:none;">  
		<div class="container">  
			<img src="/assets/img/event-proposal-software.png" alt="Event Proposal Software that generates more sales and helps you manage your event reservations">
			<div class='spacer'></div>
			<h3>Turn Leads into Sales</h3>
			<h2>Paperless Event Proposal Software</h2>
			<p>Forget the hours spent sweating over requests for proposals. There's a better way. From sending accurate invoices to calculating pricing and availability, InviteBIG's event proposal software makes creating and managing proposals a seamless, stress-free process.<a href='https://invitebig.appointlet.com/'>&raquo; Demo our Event Proposal Software</a></p>
		</div>
	</div>
	<div class="featurette">  
		<div class="container">  
			<h3>Stay Connected</h3>
			<h2>Real-time Customer Relationship Management Software</h2>
			<p>Get ready to communicate with your customers in a whole new way. In addition to fielding requests the moment they arrive, our system automatically stores every interaction, creating a thorough customer history that will foster better business relationships down the line.<a href='https://invitebig.appointlet.com/'>&raquo; Demo our Customer Relationship Management Software</a></p>
			<div class='spacer'></div>
			<img src="/assets/img/crm-venue-management-software.png" alt="CRM - Customer Relations Management from within your InviteBIG account">
		</div>
	</div>
	<div class="featurette" style="background:none;"> 
		<div class="container"> 
			<img src="/assets/img/venue-profile.png" alt="Venue Profile">
			<div class='spacer'></div>
			<h3>Avoid Doubling Up</h3>
			<h2>Automated Content & Inventory Management System</h2>
			<p>Imagine viewing and editing your venue's inventory, scheduling and booking information all in one succinct place. InviteBIG makes this a reality with our user-friendly dashboard. You can sit back and relax knowing that duplicate entries, double bookings and incorrect data are no longer disrupting your business.<a href='https://invitebig.appointlet.com/'>&raquo; Demo our Content & Inventory Management System</a></p>
		</div>
		
	</div>
	<div class="featurette" style="padding-bottom:0">  
		<div class="container">			
			<h3>It All Adds Up</h3>
			<h2>Friendly Venue & Event Accounting Software</h2>
			<p>Accurate, modern and easy to use, our accounting software will change the way you do business. The thoughtful, intuitive features allow you to set prices based on historical sales, assist with taxes and much more.<a href='https://invitebig.appointlet.com/'>&raquo; Demo our Venue & Event Accounting Software</a></p>
			<div class='spacer'></div>
			<img style='max-width:300px' src="/assets/img/invitebig-mobile-phone-app.png" alt="Access InviteBIG from your cell phone or any mobile device">
		</div>
	</div>
	<div class="featurette display-650" style='width:100%;height:40px;padding:1px'></div>
</div>

<script>
	$(function() 
	{
		var videos = document.getElementsByTagName("video"), fraction = 0.8;
		
		function checkScroll() {
			for(var i = 0; i < videos.length; i++) {
				var video = videos[i];
				var r = video.getBoundingClientRect();
				var rect = {top:r.top,bottom:r.bottom,left:r.left,right:r.right,width:r.width,height:r.height};
				if (rect.top > window.innerHeight + window.pageYOffset)
				{
					rect.top = 0;
					rect.bottom = 0;
				}
				if (rect.bottom > window.innerHeight)
					rect.bottom = window.innerHeight;
				if (rect.top < 0)
					rect.top = 0;
				if (rect.bottom < 0)
					rect.bottom = 0;
				if (rect.left < 0)
					rect.left = 0;
				if (rect.right < 0)
					rect.right = 0;
				
				var visible = ((rect.right - rect.left) / rect.width) * ((rect.bottom - rect.top) / rect.height);
				console.log("visible",visible);
				console.log("rect",rect.top,rect.right,rect.bottom,rect.left);
				if (visible > fraction) {
					video.play();
				} else {
					video.pause();
				}
			}
		}
		
		$("#bodyContent").css({"background-color":"#FDFDFD"});
		$(".carousel").carousel({pause:true,interval:false});
		
		$("#bookFilterPeople").SumoSelect();
	
		if (localStorage.getItem("email"))
		{
			//$("#divSignup").hide();
			//$("#divSearch").show();
			var data = {method:'fGetSearchTypes'};
			Post(data).then(function($data)
			{
				for (var i=0; i<$data['result'].length; i++)
				{
					$("#bookFilterType").append($("<option></option>",{value:$data['result'][i],text:$data['result'][i]}));
                }
                
				if (typeof $("#bookFilterType")[0].sumo !== "undefined")
					$("#bookFilterType")[0].sumo.reload();
				else $("#bookFilterType").SumoSelect({okCancelInMulti: true, selectAll: true});
			});
			
			$("#bookFind").click(function(event)
			{
				event.preventDefault();
				
				var filter = "types=" + JSON.stringify($("#bookFilterType").val()) + "&size=" + $("#bookFilterPeople option:selected").val();
				var url = "/venues" + "?" + filter;
				window.location = url;
			});
        }
	});
</script>