<div class='container'>
	<div class='panel' style='margin:30px'>
		<div class='panel-body' style='padding:60px 20px 70px 20px'>
			<div id='divVerifyText' style='text-align:center'></div>
		</div>
	</div>
</div>
<script>
	var args = window.location.href.split('/');
	var code = args[args.length-1];
	
	if (window.location.href.indexOf("/resend/") > 0)
	{
		var data = {method:'fResendVerification',email:code};
		Post(data).then(function($data)
		{
			if ($data['result'] == "success")
				$("#divVerifyText").empty().append("A verification email has been resent to '" + code + "'");
			
		});
	}
	else
	{
		var data = {method:'fVerifyAccount',code:code};
		Post(data).then(function($data)
		{
			if ($data['result'] == "success")
				$("#divVerifyText").empty().append("<h1>Account Verification Succeeded!</h1>Your email address has been verified and your InviteBIG account is now active.  You can now login to your account!");
			else $("#divVerifyText").empty().append("Invalid account verification request");
			
		});
	}
	
</script>