<div id='messageError' class='alert alert-danger' style='display:none'>Unable to load messages, please contact support if needed</div>
<div class='panel'><div class='panel-body'>
	<h4>New Message:<h4>
	<textarea class='form-control' style='width:80%;height:50px;margin-bottom:5px;display:inline-block' id='textNewMessage' placeholder='Type your message here...'></textarea>
	<button class='btn btn-sm btn-primary' id='buttonNewMessage' style='display:block'>Send Message</button>
</div></div>
<br><h4>Messages</h4>
<table id='tableMessageDetails' class='table table-condensed table-messagedetails dtable'>
	<thead><tr><th>From</th><th>Message</th><th>Time</th></tr></thead>
	<tbody></tbody>
</table>