<div class='panel'>
	<div class='panel-body'>
		<legend>My Bookings</legend>
		<table class='table table-striped table-hover table-condensed table-bookings dtable' id='userBookingsTable'>
			<thead><tr>
				<th>Venue</th>
				<th class='no-display-mob'>Group Size</th>
				<th class='no-display-tab'>Start Date</th>
				<th class='no-display-mob'>Duration</th>
				<th>Total Amount</th>
				<th class='no-display-mob'>Status</th>
				<th>Action</th>
			</tr></thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script>
	GetMyBookings();
</script>