<form id='formAddNewDeposit' class='form-horizontal' action='#'>
	<div id='newDepositError' class='alert alert-danger' style='display:none'></div>
	<input type='hidden' id='newDepositID' value=''>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Policy Name</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newDepositName' placeholder='Name of the deposit policy'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Applies if over amount</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newDepositThreshold' value='0'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Full Payment Due <small><em>(days before event)</em></small></label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newDepositFull' value='90'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Deposit Percentage</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newDepositPerc' value='50'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Deposit Amount</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newDepositAmount' value='0'>
		</div>
	</div>
</form>