<div id='newMenuItemError' class='alert alert-danger' style='display:none'></div>
<div id='newMenuItemBreadcrumbs' style='display:none;margin-bottom:20px;font-size:12px'></div>
<div class='clearfix'></div>
<div id='formAddNewMenuItem' class='form-horizontal' action='#'>
	<input type='hidden' id='newMenuItemID' value=''>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Menu Item Name</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newMenuItemName' placeholder='Name of the menu item'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Item Type</label>
		<div class='col-md-9'>
			<select id='newMenuItemType'>
			</select>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Description</label>
		<div class='col-md-9'>
			<textarea class='form-control' style='width:100%;height:200px' id='newMenuItemDescription' placeholder='Describe this menu item'></textarea>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Pictures <small><em>(Limit 1)</em></small></label>
		<div class='col-md-9'>
			<form name='fileupload' method='POST' enctype='multipart/form-data' action='#' class='col-md-12'>
				<div id='newMenuItemPictures' class='row pictures' style='margin-top:20px' data-limit='1'></div>
				<div class='row fileupload-buttonbar'>
					<div class='col-md-11'>
						<span class='btn btn-primary fileinput-button'>
							<i class='glyphicon glyphicon-plus glyphicon-white'></i>
							<span>Add files...</span>
							<input type='file' name='files[]' multiple>
						</span>
					</div>
				</div>
				<table role='presentation' class='table table-striped' style='width:100%'><tbody class='files' data-toggle='modal-gallery' data-target='#modal-gallery'></tbody></table>
			</form>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Price</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newMenuItemPrice'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Minimum Order</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newMenuItemMin' value='0'>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-md-3 control-label'>Maximum Order</label>
		<div class='col-md-9'>
			<input type='text' class='form-control' id='newMenuItemMax' value='100'>
		</div>
	</div>
</div>